<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <nav>
      <p>Flipcart</p>
      <p>Explore plus</p>
      <input type="search" placeholder="Search for Products,Brands and more" />
      <img src="../img/shopping-32-16.png" alt="shop" />
      <p>Become a BestSeller</p>
      <img src="../img/sign-in-6-16.png" alt="sign" />
      <p>Sign in</p>
      <select name="sign-in" id="sign-in">
        <option value="profile">My profile</option>
        <option value="plus">Flipcart Plus Zone</option>
        <option value="orders">Orders</option>
        <option value="wishlist">Wishlist</option>
        <option value="rewards">Rewards</option>
        <option value="gift">Gift Cards</option>
      </select>
      <img src="../img/cart-25-32.png" alt="" />
      <p>Cart</p>
      <img src="../img/dots-3-1-16.png" alt="" />
    </nav>
    <a href="sign-in.html"><h2>Sign-in</h2></a>
  </body>
</html>
